.myphoto {
  /*position: absolute;*/
  width: 20rem;
  height: 20rem;
}

.basicInfo {
  color: white;
  font-family: Inter;
}

.myRoll {
  color: #f3bf99;
  font-weight: 400;
}

.myCompany {
  font-weight: 400;
}

.myName {
  font-family: Inter;
  font-weight: 700;
}
