.interests {
    color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    font-family: Inter;
  }
  
  .interests > p {
    font-weight: 400;
  }
  
  .interests > h2 {
    font-weight: 700;
  }
  